<div class="topnav">
  <div class="navholder">
    <p class="homeP" routerLink="/">ecommStreet</p>
    <nav class="navOpt">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </nav>
    <nav class="navimg">
      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOEAAADhCAMAAAAJbSJIAAAAG1BMVEX///8AAAA+Pj6/v7/s7Ozv7+8tLS35+fm8vLwdA2ZaAAAAjUlEQVR4nO3byQ3AIAxFQZKw9V9xGsgtAgOa6eDdLH05JQAAAAAAAAAAAAAAAAAAAALlax1ZoUKF4RQqVBhvTGGp9ypqGVIIAAAAAADsovVnFb0NKTx/e1I4k0KFCuMpVPjt/JsGAAAAAADYxfk/pOdvTwpnUqhQYTyFCgEAAAAAAAAAAAAAAAAAAPjlBeWVFUTa7zsgAAAAAElFTkSuQmCC">
    </nav>
  </div>
</div>

