.selected {
  background-color: rgb(221, 208, 208, .7);
  color: black;
}

.optionHolder {
  display: flex;
}

.optionHolder p {
  flex-basis: 18%;
  padding: 5px;
  text-align: center;
  border: 1px solid rgb(221, 208, 208, .7);
  margin: 5px;
}

.optionHolder .colorBox {
  border: 0;
}

.boldText {
  font-weight: bolder;
  margin-top: 20px;
}
